@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2 py-1;
}
.bg-toggle{
  background:rgb(108, 72, 197)
}
.bg-primary{
  background:rgb(85 81 227);
}
.bg-secondary{
  background:#2b2d77;
}
.mobile-nav{
  @apply fixed px-2 top-10 left-0 bg-gray-600  w-full h-1/3;
}
.mobile-nav  li{
  @apply border-b-2 w-full text-center h-full;
}
.project-description{
  @apply absolute right-0 bottom-0 left-0 top-0 bg-secondary opacity-0 duration-700 hover:opacity-100 ;
}
.btn{
  @apply bg-primary px-3 py-1 font-bold hover:border-2 rounded;
}
html{
  scroll-behavior: smooth;
}